#popup{
	background: $white;
	
	width: calc(100% - 240px);
	top: 70px;
	left: 100%;
	height: 100%;
	position: fixed;
	-webkit-transition: left 0.5s; /* Safari */
	transition: left 0.5s;
	z-index: 9;
	overflow: auto;
	&.active{
		left: 0%;
	}
	.popup-inner{
		min-height: calc(100% - 60px);
		margin-bottom: 50px;	
	}
}

@media (min-width: 1024px) {
	#popup{
		margin-left: 240px;
	}

	.mini-sidebar{
		#popup{
			width: calc(100% - 60px);
			margin-left: 60px;
			top: 59px;
		}
	}
}

@media ( max-width: 1023px){
	#popup{
		margin-left: 60px;
		width: calc(100% - 60px);
	}
}

@media ( max-width: 768px){
	#popup{
		margin-left: 0px;
		width: calc(100%);
		.popup-inner{
			height: 100% !important;
		}
	}
	.playlistPopup{
		height: 100% !important;
	}

	#contents-results, #contents-playlist{
		height: initial !important;
	}
	#contents-playlist{
		margin-bottom: 100px;
	}


}

@media( max-width: 400px){
	.usercard{
		border: 0px solid $muted;
	}
}