@import "https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900";
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

.min-w-table {
  min-width: 1336px;
}

th, td {
  padding: 0.5rem 0.2rem;
}

iframe {
  width: 100%;
}

label {
  font-weight: bold;
}

textarea {
  height: 150px;
}

.popupActive {
  overflow: hidden;
}

.app-search {
  position: relative;
}
.app-search input {
  width: 100%;
  border-radius: 100px;
  font-size: 14px;
  transition: 0.5s ease-in;
}
.app-search .srh-btn {
  position: absolute;
  top: 10px;
  cursor: pointer;
  background: #ffffff;
  width: 15px;
  height: 15px;
  right: 30px;
  font-size: 14px;
}

.form-control {
  line-height: initial;
  font-size: 14px;
}

.table-pagination-wrapper .pagination ul {
  list-style: none;
}
.table-pagination-wrapper .pagination ul li {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #90a4ae;
  color: #2c2b2e;
}
.table-pagination-wrapper .pagination ul li.active {
  background: #2c2b2e;
  color: #ffffff;
  border-color: #ffffff;
}
.table-pagination-wrapper .pagination ul li.active a {
  color: #ffffff;
}
.table-pagination-wrapper .pagination ul li a {
  color: #90a4ae;
}

.pagination-wrapper .pagination a {
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #90a4ae;
  color: #2c2b2e;
}
.pagination-wrapper .pagination a.paging_select {
  background: #2c2b2e;
  color: #ffffff;
  border-color: #ffffff;
}
.pagination-wrapper .pagination-font {
  color: #90a4ae;
  font-size: 12px;
}

.explainWords {
  color: black;
  font-size: 12px;
  top: -20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

/* Product Page */
.product-list-wrapper {
  position: relative;
}
.product-list-wrapper #result .card {
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}
.product-list-wrapper #result .action {
  position: absolute;
  right: 5px;
  top: 5px;
}
.product-list-wrapper #result .action .badge {
  padding: 5px;
  clear: both;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
}
.product-list-wrapper #result .action .badge.delete-file {
  margin-top: 35px;
}

#eltovButton {
  height: 50px;
}

.delete-selected, .action-selected {
  background-color: #ff000099;
  position: fixed;
  left: 50%;
  border-radius: 35px;
  bottom: 80px;
  color: white;
}

/*Schedule Page*/
#create-calendar .playlist-action {
  bottom: -15px;
  position: absolute;
  right: 0px;
}

#contents-results {
  overflow: auto;
  height: calc(100% - 550px);
  position: relative;
}
#contents-results .clone-delete {
  display: none;
}

.playlistinformation {
  border-bottom: 1px solid #f3f3f3;
}

.playlistPopup {
  height: 143vh !important;
}

#contents-playlist {
  overflow: auto;
  height: calc(100% - 500px);
  position: relative;
  border: 1px dashed;
  padding: 15px 0px;
}
#contents-playlist table {
  border-top: 0px !important;
  margin: 0px;
}
#contents-playlist > div {
  position: relative;
  padding-bottom: 10px;
}
#contents-playlist div:nth-child(odd) table {
  background-color: #f3f3f3;
  margin: 0px;
}
#contents-playlist .clone-delete {
  background-color: red;
  border-radius: 15px;
  padding: 3px 7px;
  position: absolute;
  top: 52px;
  left: 22px;
  color: white;
}

.mdi-dots-vertical {
  position: absolute;
  left: 0px;
  font-size: 16px;
  margin-top: 10px;
}

/* Shop Page*/
#switch-components {
  background-color: #f3f1f1;
  padding: 50px;
}

#show-date-advance {
  cursor: pointer;
  -webkit-transition: all 1s;
  /* Safari */
  transition: all 1s;
  transform: rotate(0deg);
}
#show-date-advance.active i {
  transform: rotate(180deg);
}

/* Program Page */
.bg-inversed {
  background-color: #232a37 !important;
  border-color: #232a37 !important;
}

/* Users Page */
.usercard {
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

/* Plugins */
.select-time .bootstrap-timepicker {
  /*width: 70%;*/
  float: right;
}

.calendar-events {
  margin-bottom: 15px;
  padding: 20px 10px;
}

/*Device Page*/
.device-pic img {
  cursor: pointer;
}

#result .icheck-list {
  position: absolute;
  right: 15px !important;
}

/* Icons */
.icon {
  width: 15px;
}

/* Buttons & input*/
.btn {
  position: relative;
}

input::placeholder, textarea::placeholder {
  color: #DDD;
  font-size: 12px;
  font-style: italic;
}

.custom-control-indicator {
  top: 0px;
}

.btn-default {
  background: #232a37;
  color: #ffffff;
}

.input-group-addon {
  font-size: 14px;
}

.sidebar-footer a {
  width: 100%;
}

.close-edit-popup {
  float: right;
}

.eltov-btn {
  font-size: 55px;
  cursor: pointer;
}
.eltov-btn:before {
  transition: all 0.5s;
}
.eltov-btn:hover:before {
  text-shadow: 2px 2px 0px #a6b7bf;
}

.set-date-repeat {
  background-color: #ffffff !important;
  color: #232a37 !important;
}

/* Text Color */
.text-cygan {
  color: #00BCD4;
}

/* 5 column Boostratp*/
.col-eltov5,
.col-sm-eltov5,
.col-md-eltov5,
.col-lg-eltov5,
.col-xl-eltov5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-eltov5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-eltov5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 720px) {
  .col-md-eltov5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-eltov5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-eltov5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
/*menu Effect*/
.menu {
  -webkit-filter: url("#shadowed-goo");
  filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background: #00bcd4;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-left: -40px;
  position: absolute;
  top: 35px;
  color: white;
  text-align: center;
  line-height: 48px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 60%;
  margin-left: -7px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  -webkit-transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  top: -40px;
  right: 10%;
  margin-left: -80px;
  padding-top: 0px;
  padding-left: 80px;
  width: 400px;
  height: 75px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  text-align: right;
}
.menu .tooltip {
  position: absolute;
  min-width: 120px;
  top: -35px !important;
}

.menu-item:hover {
  background: white;
  color: #00bcd4;
}

.menu-item:nth-child(3) {
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 190ms;
  -webkit-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 290ms;
  -webkit-transform: translate3d(-125px, 0, 0);
  transform: translate3d(-125px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 390ms;
  -webkit-transform: translate3d(-190px, 0, 0);
  transform: translate3d(-190px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 490ms;
  -webkit-transform: translate3d(-255px, 0, 0);
  transform: translate3d(-255px, 0, 0);
}

.menu svg {
  height: 0px;
  width: 0px;
}

#popup {
  background: #ffffff;
  width: calc(100% - 240px);
  top: 70px;
  left: 100%;
  height: 100%;
  position: fixed;
  -webkit-transition: left 0.5s;
  /* Safari */
  transition: left 0.5s;
  z-index: 9;
  overflow: auto;
}
#popup.active {
  left: 0%;
}
#popup .popup-inner {
  min-height: calc(100% - 60px);
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  #popup {
    margin-left: 240px;
  }

  .mini-sidebar #popup {
    width: calc(100% - 60px);
    margin-left: 60px;
    top: 59px;
  }
}
@media (max-width: 1023px) {
  #popup {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
}
@media (max-width: 768px) {
  #popup {
    margin-left: 0px;
    width: calc(100%);
  }
  #popup .popup-inner {
    height: 100% !important;
  }

  .playlistPopup {
    height: 100% !important;
  }

  #contents-results, #contents-playlist {
    height: initial !important;
  }

  #contents-playlist {
    margin-bottom: 100px;
  }
}
@media (max-width: 400px) {
  .usercard {
    border: 0px solid #90a4ae;
  }
}
